<script>
mapboxgl.accessToken = 'pk.eyJ1Ijoicm9kb3dpIiwiYSI6ImNrODVkYjA2NDAxNDkzZmtnaWZqbms1cGkifQ.wVHRPi4isYuZxvclqcrfhQ';
var map = new mapboxgl.Map({
  container: 'map',
  style: '{{ page.style }}',
  center: [-102.5528, 23.6345],
  zoom: 3.8
});

map.on('load', function () {
  var maxValue = 13;
  var data = [
    { 'CVE_ENT': '01', 'unemployment': Math.round(Math.random() * 13) },
    { 'CVE_ENT': '02', 'unemployment': Math.round(Math.random() * 13) },
    { 'CVE_ENT': '03', 'unemployment': Math.round(Math.random() * 13) },
    { 'CVE_ENT': '04', 'unemployment': Math.round(Math.random() * 13) },
    { 'CVE_ENT': '05', 'unemployment': Math.round(Math.random() * 13) },
    { 'CVE_ENT': '06', 'unemployment': Math.round(Math.random() * 13) },
    { 'CVE_ENT': '07', 'unemployment': Math.round(Math.random() * 13) },
    { 'CVE_ENT': '08', 'unemployment': Math.round(Math.random() * 13) },
    { 'CVE_ENT': '09', 'unemployment': Math.round(Math.random() * 13) },
    { 'CVE_ENT': '10', 'unemployment': Math.round(Math.random() * 13) },
    { 'CVE_ENT': '11', 'unemployment': Math.round(Math.random() * 13) },
    { 'CVE_ENT': '12', 'unemployment': Math.round(Math.random() * 13) },
    { 'CVE_ENT': '13', 'unemployment': Math.round(Math.random() * 13) },
    { 'CVE_ENT': '14', 'unemployment': Math.round(Math.random() * 13) },
    { 'CVE_ENT': '15', 'unemployment': Math.round(Math.random() * 13) },
    { 'CVE_ENT': '16', 'unemployment': Math.round(Math.random() * 13) },
    { 'CVE_ENT': '17', 'unemployment': Math.round(Math.random() * 13) },
    { 'CVE_ENT': '18', 'unemployment': Math.round(Math.random() * 13) },
    { 'CVE_ENT': '19', 'unemployment': Math.round(Math.random() * 13) },
    { 'CVE_ENT': '20', 'unemployment': Math.round(Math.random() * 13) },
    { 'CVE_ENT': '21', 'unemployment': Math.round(Math.random() * 13) },
    { 'CVE_ENT': '22', 'unemployment': Math.round(Math.random() * 13) },
    { 'CVE_ENT': '23', 'unemployment': Math.round(Math.random() * 13) },
    { 'CVE_ENT': '24', 'unemployment': Math.round(Math.random() * 13) },
    { 'CVE_ENT': '25', 'unemployment': Math.round(Math.random() * 13) },
    { 'CVE_ENT': '26', 'unemployment': Math.round(Math.random() * 13) },
    { 'CVE_ENT': '27', 'unemployment': Math.round(Math.random() * 13) },
    { 'CVE_ENT': '28', 'unemployment': Math.round(Math.random() * 13) },
    { 'CVE_ENT': '29', 'unemployment': Math.round(Math.random() * 13) },
    { 'CVE_ENT': '30', 'unemployment': Math.round(Math.random() * 13) },
    { 'CVE_ENT': '31', 'unemployment': Math.round(Math.random() * 13) },
    { 'CVE_ENT': '32', 'unemployment': Math.round(Math.random() * 13) }
  ]

  // Add source for state polygons hosted on Mapbox, based on INEGI Census Data:
  map.addSource('states', {
    type: 'vector',
    url: 'mapbox://' + '{{ page.source }}'
  });

  var expression = ['match', ['get', 'CVE_ENT']];

  // Calculate color for each state based on the unemployment rate
  data.forEach(function(row) {
    var green = (row['unemployment'] / maxValue) * 255;
    var color = 'rgba(' + 0 + ', ' + green + ', ' + 0 + ', 1)';
    expression.push(row['CVE_ENT'], color);
  });

  // Last value is the default, used where there is no data
  expression.push('rgba(0,0,0,0)');

  // Add layer from the vector tile source with data-driven style
  map.addLayer(
    {
      'id': 'states-join',
      'type': 'fill',
      'source': 'states',
      'source-layer': 'mge2015v6_2-simplified_20p-75dd75',
      'paint': {
        'fill-color': expression
      }
    },
    'waterway-label'
  );
});
</script>
