<script>
var series = JSON.parse('{{ site.data.covid.series | jsonify }}');
var centerPoints = JSON.parse('{{ site.data.mge.state-points | jsonify }}');

function getFeature (CVE_ENT) {
  return centerPoints.features
    .find(f => f.properties.CVE_ENT === CVE_ENT);
}

function getFeatureCollectionForDate (date) {
  var today = series[date];
  var features = Object.keys(today)
    .map(CVE_ENT => {
      const f = getFeature(CVE_ENT);
      f.properties['CASOS'] = today[CVE_ENT]['CASOS'];
      return f;
    });
  return { type: 'FeatureCollection', features };
}

mapboxgl.accessToken = 'pk.eyJ1Ijoicm9kb3dpIiwiYSI6ImNrODVkYjA2NDAxNDkzZmtnaWZqbms1cGkifQ.wVHRPi4isYuZxvclqcrfhQ';
var map = new mapboxgl.Map({
  container: 'map',
  style: '{{ page.style }}',
  center: [-102.5528, 23.6345],
  zoom: 3.8
});

map.addControl(new mapboxgl.FullscreenControl());

map.on('load', function () {
  var featureCollection = getFeatureCollectionForDate('20200316');

  // Add source for state polygons hosted on Mapbox, based on INEGI Census Data:
  map.addSource('states', {
    type: 'vector',
    url: 'mapbox://' + '{{ page.source }}'
  });

  var expression = ['match', ['get', 'CVE_ENT']];

  map.addLayer({
    id: 'cases',
    type: 'circle',
    source: {
      type: 'geojson',
      data: featureCollection
    },
    paint: {
      'circle-radius': [
        'interpolate',
        ['linear'],
        ['number', ['get', 'CASOS']],
          1,   5,
          6,  25,
         26,  50,
         51, 100,
        101, 250,
        251, 500,
        501, 1000
      ],
      'circle-color': [
        'interpolate',
        ['linear'],
        ['number', ['get', 'CASOS']],
        0, '#DAF7A6',
        1, '#FFC300',
        2, '#FF5733',
        3, '#C70039',
        4, '#900C3F',
        5, '#581845'
      ],
      'circle-opacity': 0.8
    }
  });
});

document.getElementById('slider').addEventListener('input', function (e) {
  var date = String(parseInt(e.target.value));
  var featureCollection = getFeatureCollectionForDate(date);

  // update the map
  map.getSource('cases').setData(featureCollection);

  // converting timestamp to human-friendly format
  const year = date.substring(0, 4);
  const month = date.substring(4, 6);
  const day = date.substring(6);
  const humanDate = `${year}-${month}-${day}`
  // update text in the UI
  document.getElementById('active-date').innerText = humanDate;
});
</script>
