---
layout: default
---

<script src="https://api.mapbox.com/mapbox-gl-js/v1.9.0/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.9.0/mapbox-gl.css" rel="stylesheet" />
<style>
  #map { height: 480px }
</style>

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}

  <div id="map"></div>

  {% if page.map_template == "time" %}

  <div class='session' id='sliderbar'>
    <h2>Fecha: <label id='active-date'>2020-03-20</label></h2>
    <input id='slider' class='row' type='range' min='20200316' max='20200327' step='1' value='20200320' />
  </div>

  {% endif %}

</div>

<div class="related">
  <h2>Relacionados</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>

{% if page.map_template == "time" %}
{% include time.html %}
{% else %}
{% include choropleth.html %}
{% endif %}
